.wrapper {
  margin: 10% auto;
  max-width: 650px;
  background: #fff;
  padding: 20px;
}

.header {
  text-align: center;
}

.plans {
  margin: 40px 0 20px;
  display: flex;
  justify-content: space-between;
}