.button {
  margin: 0;
  transition: all .3s ease;
}

.secondary {
  color: #e50915;
  border-color: #e50915;
  padding: 5px 8px;
}

.primary {
  border-radius: 0;
  padding: 10px 20px;
  color: #e50915;
}

.primary:hover {
  transform: rotate(-5deg) scale(1.2);
}