.button {
  margin: 0;
  transition: all .3s ease;
}

.primary {
  border-radius: 0;
  padding: 10px 20px;
  background: #e50914;
  font-weight: bold;
}

.primary:hover {
  transform: rotate(-5deg) scale(1.2);
}

.secondary {
  border-color: #e50914;
  color: #e50914;
}

.secondary:hover {
  border-radius: 20px;
  color: #fff;
  background: #e50914;
}